obj
bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
/Build
NDependOut

# ReSharper is a .NET coding add-in
_ReSharper*
*\bin
*\obj

*\_ReSharper*

_ReSharper*/
_ReSharper*
