<header>
    <div id="logo">
        @{ if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Home")
           {
               <div>
                   <img src="@Url.Content("/Content/global/top-logo.png")"/>
                    <span>РадаКод</span>
               </div>
               
           } else
           {
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("/Content/global/top-logo.png")"/>
                    <span>РадаКод</span>
                </a>
           } 
         }
    </div>
			
			<menu>
				@{Html.RenderAction("RenderTopMenu", "Navigation");}
			</menu>
			
@*			<div id="langSelect">
				@{Html.RenderAction("RenderLanguages", "Navigation");}
			</div>*@
		
			<div class="clear"></div>
	</header>