/*@font-face {
	font-family: 'RexBoldBold';
	src: url('fonts/rex/rex_bold-webfont.eot');
	src: url('fonts/rex/rex_bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/rex/rex_bold-webfont.woff') format('woff'),
		 url('fonts/rex/rex_bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
	font-family: "SSStandard";
	src: url('fonts/SSStandard/ss-standard.eot');
	src: url('fonts/SSStandard/ss-standard.eot?#iefix') format('embedded-opentype'), 
		 url('fonts/SSStandard/ss-standard.woff') format('woff'), 
		 url('fonts/SSStandard/ss-standard.ttf')  format('truetype'),
		 url('fonts/SSStandard/ss-standard.svg#SSStandard') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RexLightRegular';
	src: url('fonts/rel-light-cyr/rex_light-webfont.eot');
	src: url('fonts/rel-light-cyr/rex_light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/rel-light-cyr/rex_light-webfont.woff') format('woff'),
		 url('fonts/rel-light-cyr/rex_light-webfont.ttf') format('truetype'),
		 url('fonts/rel-light-cyr/rex_light-webfont.svg#RexLightRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'ProtoSans03';
    src: url('fonts/ProtoSans03/protosans03-webfont.eot');
    src: url('fonts/ProtoSans03/protosans03-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProtoSans03/protosans03-webfont.woff') format('woff'),
         url('fonts/ProtoSans03/protosans03-webfont.ttf') format('truetype'),
         url('fonts/ProtoSans03/protosans03-webfont.svg#proto_sans_03regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ProtoSans40';
    src: url('fonts/ProtoSans40/protosans40-webfont.eot');
    src: url('fonts/ProtoSans40/protosans40-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProtoSans40/protosans40-webfont.woff') format('woff'),
         url('fonts/ProtoSans40/protosans40-webfont.ttf') format('truetype'),
         url('fonts/ProtoSans40/protosans40-webfont.svg#proto_sans_40regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "Scrawl";
	src:url("SCRAWL__.eot?") 
	format("eot"),url("fonts/Scrawl/SCRAWL__.woff") 
	format("woff"),url("fonts/Scrawl/SCRAWL__.ttf") 
	format("truetype"),url("fonts/Scrawl/SCRAWL__.svg#Scrawl") 
	format("svg");
	font-weight:normal;
	font-style:normal;
	}

#main {
    padding: 0px;
    margin-bottom: 0px;
    background-color: #FFFFFF;
    /*background-image: url('flower-tile.png');*/
}

#main > div {
    top: -230px;
    position: relative;
}

#banner-block {
    overflow: hidden;
}

#dynamic-banner {
    height: 610px;
    background-color: #e7cb22;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-image: url('banner-footer.png');
}

#dynamic-banner > * {
    position: absolute;
}

#dynamic-banner > .banner-data-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    height: 590px;
    position: relative;
    top: 190px;
}

#dynamic-banner > .banner-data-container > .description.item_0 {
    width: 320px;
    padding-left: 30px;
    padding-top: 25px;
    background-image: url('umnie-box.png');
    background-position: 23px 18px;
    background-repeat: no-repeat;
}

#dynamic-banner > .banner-data-container > .extended-text.item_0 {
    width: 270px;
    top: 258px;
    margin-left: 30px;
    text-align: justify;
}

#dynamic-banner > .banner-data-container > .description.item_1 {
    width: 450px;
    padding-left: 30px;
    padding-top: 25px;
    background-image: url('banner-mobile-box.png');
    background-position: 23px 18px;
    background-repeat: no-repeat;
}

#dynamic-banner > .banner-data-container .handwritten {
    font-family: "Scrawl";
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

#dynamic-banner > .banner-data-container .platform {
    cursor: pointer;
}

#dynamic-banner > .banner-data-container > .platform > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dynamic-banner > .banner-data-container > .platform > img {
    margin-bottom: 10px;
}


#dynamic-banner > .banner-data-container > * {
    position: absolute; 
}

#dynamic-banner > .banner-data-container > .description h1 {
    font-family: 'ProtoSans03';
    font-size: 46px;
    line-height: 1.2em;
    cursor: default;
    color: #5e5d5f;
}

#dynamic-banner > .banner-data-container > .extended-text span {
    font-family: 'OpenSansLight';
    font-size: 15px;
}

a.rotator_control {color:#fff}
.rotator_control { position: absolute; top: 0; height: 100%; width: 130px; text-align: center; line-height: 471px; color: #fff; font-size: 24px; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); z-index: 1; display: none; background: url('rotatorcontrols_shadow.png') repeat-y 0 0; }
/*.rotator_control:hover { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1.0; }*/
.rotator_control.left { left: 0; background-position: 0 0; }
.rotator_control.right { right: 0; background-position: -260px 0; }
.rotator_control div { position: absolute; top: 0; left: 0; width: 130px; height: 100%; background: url('rotatorcontrols_shadow.png') repeat-y 0 0; }
.rotator_control div.ss-icon { background: none; }
.rotator_control div.bg { display: none; }
.rotator_control.left div.bg { background-position: 0 0; }
.rotator_control.right div.bg { background-position: -260px 0; }

.ss-icon, .ss-icon.ss-standard, [class^="ss-"]::before, [class*=" ss-"]::before, [class^="ss-"].ss-standard::before, [class*=" ss-"].ss-standard::before, [class^="ss-"].right::after, [class*=" ss-"].right::after, [class^="ss-"].ss-standard.right::after, [class*=" ss-"].ss-standard.right::after {
font-family: "SSStandard";
font-style: normal;
font-weight: normal;
text-decoration: none;
text-rendering: optimizeLegibility;
white-space: nowrap;
-webkit-font-feature-settings: "liga";
-moz-font-feature-settings: "liga=1";
-moz-font-feature-settings: "liga";
-ms-font-feature-settings: "liga" 1;
-o-font-feature-settings: "liga";
font-feature-settings: "liga";
-webkit-font-smoothing: antialiased;
vertical-align: bottom;
}

.ss-icon, .ss-icon.ss-standard, [class^="ss-"]::before, [class*=" ss-"]::before, [class^="ss-"].ss-standard::before, [class*=" ss-"].ss-standard::before, [class^="ss-"].right::after, [class*=" ss-"].right::after, [class^="ss-"].ss-standard.right::after, [class*=" ss-"].ss-standard.right::after
{
    font-family: "SSStandard";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    vertical-align: bottom;
}


.news-block {
    background-color: #e6ca21;
    height: 100px;
    font-size: 16px;
    font-family: 'ProtoSans30';
}

.news-block .under-construction-warning {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

#smart-site-info {
    background-color: #F5F5F3;
    background-image: url('../global/img/flower-tile.png');
    min-height: 350px;
    width: 100%;
    cursor: default;
}

#smart-site-info #smart-site-centered-block {
    max-width: 1115px;
    margin-left: auto;
    margin-right: auto;
}

#smart-site-info #smart-site-centered-block div {
    position: absolute;
}

#smart-site-info #smart-site-centered-block .initiation-text {
    width: 375px;
    margin-top: 15px;
    height: 60px;
}

#smart-site-info #smart-site-centered-block .initiation-text > h1 {
    font-family: 'ProtoSans03';
    font-size: 26px;
    color: #5E5D5F;
}

#smart-site-info #smart-site-centered-block .smart-site-knows {
    width: 100px;
    margin-top: 158px;
    height: 60px;
    margin-left: 55px;
}

#smart-site-info #smart-site-centered-block .smart-site-knows > h2 {
    font-family: 'ProtoSans03';
    font-size: 20px;
    color: #5E5D5F;
}

#smart-site-info #smart-site-centered-block .features-list {
    margin-left: 135px;
    margin-top: 60px;
}

#smart-site-info #smart-site-centered-block .features-list > div {
    display: inline-block;
    vertical-align: top;
    padding-left: 65px;
    position: relative;
}

#smart-site-info #smart-site-centered-block .features-list .geo-data {
    background: url('geo-data.png') no-repeat left 190px;
}

#smart-site-info #smart-site-centered-block .features-list .behav-tracking {
    background: url('work-target.png') no-repeat left 190px;
}

#smart-site-info #smart-site-centered-block .features-list .device-specific {
    background: url('device-type.png') no-repeat left 190px;
}

#smart-site-info #smart-site-centered-block .features-list .interactive {
    background: url('geo-data.png') no-repeat left 190px;
}

#smart-site-info #smart-site-centered-block .features-list .feature > div {
    display: block;
}

#smart-site-info #smart-site-centered-block .features-list .feature-number {
    font-family: 'ProtoSans00';
    font-size: 125px;
    color: #e7cb22;
}

#smart-site-info #smart-site-centered-block .features-list .feature {
    min-height: 250px;
    width: 200px;
}

#smart-site-info #smart-site-centered-block .features-list .feature > h3 {
    font-family: 'ProtoSans40';
    font-size: 15px;
    color: #1d2228;
    max-width: 130px;
}

#smart-site-info #smart-site-centered-block .features-list .feature > p.feature-slug {
    font-family: 'OpenSansRegular';
    font-size: 13px;
    color: #4d5056;
    max-width: 163px;
}



.alpha60 {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
    