@{
    ViewBag.Title = "Умные сайты, мобильный приложения, Банк 2.0 - РадаКод";

    Html.RequiresCss("Home/home.css", "Content", 101);
    Html.RequiresJs("Home/home.js", "Content", 11);
}

<div id="banner-block">
    <div id="dynamic-banner">
        <div id="main_banner"> 
            <img src="@Url.Content("~/Content/home/starline.png")" class="item_0" data-left="-45px" data-top="170px" style="left: -45px; top: 170px;"/>
            <img src="@Url.Content("~/Content/home/starline.png")" class="item_0" data-right="-55px" data-top="320px" style="right: -55px; top: 320px;"/>
            <div class="banner-data-container">
                <img src="@Url.Content("../Content/home/device-set.png")" class="item_0" data-left="85px" style="left: 85px;"/>
                <div class="description item_0" data-left="60%" style="left: 60%;">
                    <h1>УМНЫЕ РЕШЕНИЯ ДЛЯ БИЗНЕСА</h1>
                </div>
            </div>
        </div>
    </div>
    <a href="#prev" class="rotator_control left">
        <div class="bg"></div>
        <div class="ss-icon">&#x25C5;</div>
    </a>
    <a href="#next" class="rotator_control right">
        <div class="bg"></div>
        <div class="ss-icon">&#x25BB;</div>
    </a>
</div>
<div class="news-block">
        <div class="under-construction-warning">МЫ ОБНОВЛЯЕМ НАШ САЙТ. ПРИНОСИМ ИЗВИНЕНИЯ ЗА ВРЕМЕННЫЕ НЕУДОБСТВА.</div>
</div>
<div id="smart-site-info">
    <div id="smart-site-centered-block">
        <div class="initiation-text">
            <h1>Мы делаем умные сайты для бизнеса</h1>
        </div>
        <div class="smart-site-knows">
            <h2>Умный сайт знает:</h2>
        </div>
        <div class="features-list">
            <div class="geo-data feature">
                <span class="feature-number">1</span>
                <h3>Где находится посетитель</h3>
                <p class="feature-slug">Определяет месторасположение пользователя</p>
            </div>
            <div class="behav-tracking feature">
                <span class="feature-number">2</span>
                <h3>Что интересует посетителя</h3>
                <p class="feature-slug">Знает что клиент ищет</p>
            </div>
            <div class="device-specific feature">
                <span class="feature-number">3</span>
                <h3>Чем пользуется посетитель</h3>
                <p class="feature-slug">Планшет, телефон или компьютер - сайт для всех индивидуальный</p>
            </div>
            <div class="interactive feature">
                <span class="feature-number">4</span>
                <h3>Как удержать посетителя</h3>
                <p class="feature-slug">Умный сайт полон интерактивных элементов</p>
            </div>
        </div>
   </div>
</div>