<div id="deputies-management-view">
    <button class="btn btn-success" data-bind="click: AddDeputy">
		<i class="icon-plus-sign icon-white"></i>
		<span>Добавить нового депутата в партию</span>
	</button>
    <h1 style="margin-top: 15px">Депутаты партии:</h1>
    <div data-bind="foreach: Deputies">
        <div class="deputy-block">
            <div class="deputy-image">
                <img data-bind="attr: { src: ImgSrc, alt: LastName }, visible: HasImage, event: { mouseover: EnableChangeImage, mouseout: DisableChangeImage }"/>
                <div class="change-image-btn" data-bind="click: ChangeImage, visible: ChangeBtnVisible, event: { mouseover: EnableChangeImage, mouseout: DisableChangeImage }"></div>
                <div class="add-image-block" data-bind="click: AddImage, visible: !HasImage(), html: AddImageContent"></div>   
            </div> 
            <div class="deputy-name">
                <input placeholder="Имя" data-bind="value: FirstName"/>
                <input placeholder="Отчество" data-bind="value: Patronimic"/>
                <input placeholder="Фамилия" data-bind="value: LastName"/>
                <br/><br/> 
                <span class="full-name">Пол:</span>
                <br/>
                <div style="display: inline-block"><input type="radio" value="male" data-bind="checked: Gender, attr: { name: Id + 'genderGroup' }" /> Мужской</div>
                <div style="display: inline-block"><input type="radio" value="female" data-bind="checked: Gender, attr: { name: Id + 'genderGroup' }" /> Женский</div>
            </div>
            <div class="deputy-bio-block">
                <textarea placeholder="Биография" data-bind="value: Bio"></textarea>
            </div>
            
            <button class="btn btn-warning save-changes" data-bind="visible: HasUnsavedChanges, click: UpdateDeputy">
                <i class="icon-ok icon-white"></i>
                <span data-bind="text: SaveChangesText"></span>
            </button>
            
            <button class="btn btn-warning save-changes" data-bind="visible: HasUnsavedChanges, click: UpdateDeputy">
		        <i class="icon-ok icon-white"></i>
		        <span data-bind="text: SaveChangesText"></span>
	        </button>
        </div>
    </div>
</div>