<ul id="menu">
    <li>
        <h2>РАЗРАБОТКА САЙТОВ</h2>
        <p>Умные сайты - уникальные веб-решения для вашего бизнеса</p>
    </li>     
    <li>
        <h2>РАЗРАБОТКА ПО</h2>
        <p>Мы разрабатываем мобильные приложения и "облачные" системы на заказ</p>
    </li>
    <li>
        <h2>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</h2>
        <p>Хроника успешных проектов</p>
    </li>
</ul>