<div class="project-type-selector" data-bind="template: { name: 'type-selector-template', foreach: menuItems }">
</div>

<script type="text/html" id="type-selector-template">
    <div data-bind="attr: { id: menuItemId, class: menuItemClass }">
        <div class="type-select-button">
            <span data-bind="text: menuItemText, click: selectMenuItem">САЙТЫ</span>
        </div>
    </div>
</script>