<div id="projects" data-bind="template: { name: 'project-item-template', foreach: currentProjects }"></div>

<script type="text/html" id="project-item-template">
    <div class="project-markup" data-bind="html: markup"></div>
</script>