<div class="project-type-selector">
    <div id="websites-selector" class="type-select">
        <div class="type-select-button">
            САЙТЫ
        </div>
    </div>
    <div id="mobile-selector" class="type-select">
        <div class="type-select-button">
            МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ
        </div>
    </div>
        <div id="cloud-selector" class="type-select">
        <div class="type-select-button">
            ОБЛАЧНЫЕ СИСТЕМЫ
        </div>
    </div>
</div>