@{
    ViewBag.Title = "Завершённые проекты РадаКод";

    Html.RequiresCss("portfolio/portfolio.css", "Content", 101);
    Html.RequiresJs("portfolio/portfolio.js", "Content", 11);
}

<div id="portfolio-control">
    
    @{ Html.RenderPartial("_ProjectTypesSelector"); }

    <div class="control-column"></div>
    <div class="timeline-column"></div>
</div>
